sudo: required
language: generic
services:
  - docker

before_install:
  - docker build -t jaimeadm/docker-react -f Dockefile.dev .

script:
  - docker run -e CI=true jaimeadm/docker-react npm run test
  